<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/paincare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31"
        tools:replace="android:label">

    <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.spmenais.paincare.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name="com.spmenais.paincare.NotificationReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.spmenais.paincare.MainActivity"
            android:exported="true"
            android:label="@string/paincare"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add activity declarations for the redirected activities -->
        <activity
            android:name="com.spmenais.paincare.Authentification.Authentification"
            android:label="Authentification" />

        <activity
            android:name="com.spmenais.paincare.Authentification.logInActivity"
            android:label="Login with Email" />

        <activity
            android:name="com.spmenais.paincare.Authentification.GoogleLoginActivity"
            android:label="Login with Google" />

        <activity
            android:name="com.spmenais.paincare.Authentification.SignUpActivity"
            android:label="Sign Up" />

        <activity
            android:name="com.spmenais.paincare.Authentification.ForgotPasswordActivity"
            android:label="Forgot Password" />

        <activity
            android:name="com.spmenais.paincare.Authentification.Email_verification">
        </activity>

        <activity
            android:name="com.spmenais.paincare.HomeActivity"
            android:configChanges="locale|orientation|screenSize"/>

        <activity android:name="com.spmenais.paincare.User_profile" />
        <activity android:name="com.spmenais.paincare.NotifiactionSettings_Activity"/>

        <activity android:name="com.spmenais.paincare.Endo_InfoActivity" />
        <activity android:name="com.spmenais.paincare.EndoFAQ_Activity" />

        <activity android:name="com.spmenais.paincare.Diag_start" />
        <activity android:name="com.spmenais.paincare.DiagTest_Activity" />

        <activity android:name="com.spmenais.paincare.BasicUsersInfos.UserAge_Activity" />

        <activity android:name="com.spmenais.paincare.LineChart_Activity" />

        <activity android:name="com.spmenais.paincare.ReminderActivity" />
        <activity android:name="com.spmenais.paincare.EditProfile_Activity"/>

        <activity android:name="com.spmenais.paincare.QuizResults" />
        <activity android:name="com.spmenais.paincare.Quiz_main" />
        <activity android:name="com.spmenais.paincare.Quiz_Activity" />

        <activity android:name="com.spmenais.paincare.AboutUs_Activity" />

        <activity android:name="com.spmenais.paincare.NewsLibrary.ArticlesDetailActivity"/>

        <activity android:name="com.spmenais.paincare.Community.BlogDetail"/>
        <activity android:name="com.spmenais.paincare.Community.PublishActivity"/>

    </application>

</manifest>